@font-face {
    font-family: jm;
    src: url("../font/jm.ttf");
}
@font-face {
    font-family: hp;
    src: url("../font/hp.otf");
}
@font-face {
    font-family: sd;
    src: url("../font/sd.ttf");
}
.h i{
	margin-right: 7px;
}
.navi h3{
	font-family: jm;
	font-size: 40px;
	display: inline-block;
	margin-top: 2%;
	margin-left: 2%;
}
.lil{
	display: inline-block;
	margin-top: 3%;
	float: right;
	margin-right: 40px;
}
.lil li{
	display: inline-block;


}
.lil a{
	font-family: hp;
	font-size: 20px;
	text-decoration: none;
	padding: 10px;
	color: black;
	
}
.i{
	width: 50%;
	margin-left: 580px;
}
.i i{
	margin-left: 30px;
    color: #CCC;
	display: inline-block;
	
}
.i i:hover{
	color: gold;
}
.lil a:hover{
	border-bottom: 2px solid black;
}
.man{
	height: 350px;
	width: 100%;
	background-color: yellow;
	border: 1px solid black;
	border-radius: 5px;
}
.man h1{
	font-family: hp;
	text-align: center;
	color: black;
	margin-bottom: 0px;

}
.man img{
	margin-top: 1%;
	margin-left: 1%;
	margin-bottom: 2%;
	display: inline-block;
	width: 40%;
}
.man p{
	margin-top: 1%;
	margin-right: 2%;
	height: 250px;
    border: 2px solid black;
	display: inline-block;
	width: 55%;
	float: right;
	padding: 2%;
	border-radius: 12px;
}
.v2{
	
	height: 400px;
	width: 100%;
	text-align: center;

	

}
#foode {
	height: 190px;

}
#foode h4{
	font-size: 15px;
}
#left{
	margin-top: 2%;
	border-left: 2px solid black;
	display: inline-block;
	width: 60%;
	float:left;
	margin-left: 2%;
	text-align: center;



}
#right{
	border-right: 2px solid black;

	height: 350px;
	margin-top: 2%;
	display: inline-block;
	width: 30%;
	text-align: center;
	margin-right:8%;
	}
	#left p{
		font-family: jm;
		width: 50%;
		font-size: 25px;
	}
	#right div{
    border: 2px solid black;	
	padding: 2%;
	border-radius: 12px;

	}
	#right p{
		font-family: jm;
		font-size: 20px;
	}
	#right button{
		font-family: hp;
		padding: 7px 60px;
	font-size: 20px;
	font-weight: 100;
	background-color: green;
	color: white;
	margin-top: 1%;
	margin-bottom: 2%

	}
	#right button:hover {
		font-size: 30px;
	cursor: pointer;
	background-color: yellow;
	transition: 1s;
	color: blue;

}
.done{
	height: 100px;
	background-color: #e6e2e2;
}
.done a{
	color:green;
	

}
.done a:hover{
	cursor: pointer;
	transition: 3s;
	color: yellow;
	border-bottom: 2px solid black;


}
.done p{
	display: inline-block;
	padding: 2% 8%;
	padding-top: 3%;
}

.done div{
	float: right;
	padding: 2% 8%;
	padding-top: 3%;
}
.done div i{
	/*background-color: aqua;*/
	padding-left:  20px;
	padding-right: 20px;
	}
	.done h4{
		font-family: hp;

		font-size: 50px;
		display: inline-block;
		margin-left: 180px;
	}
	.done span{
		color: #b19813;
	}
	.done h4 {
		color: green;
	}
	
